# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Introduction

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists 
- Give some examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R-Studio
3. Java

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* SciPy
* panda
* Scrapy
* SciKit-Learn

| Data Science Tools| 
| _____________ | 
| RStudio | 
| Apache Spark | 
| TensorFlow |

_Below are a few examples of evaluating arithmetic expressions in Python._

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Mohamed Bakheet