# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1. List popular languages for Data Science
2. List some of the commonly used libraries used by Data Scientists
3. Give some examples

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C++
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. panda
4. Scrapy
5. SciKit-Learn

| Data Science Tools| |
|-------------------|--|
|R-Studio | |
| Apache Spark | |
| TensorFlow|  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Mohamed Bakheet